@import '../../../static/styles/base/imports';
.category-list {
  a {
    position: relative;
    border: 1px solid #d3d3d3;
  }
  .carousel-caption {
    background: #fff;
    left: 0;
    opacity: 0.8;
    padding: 0 0 0 10px;
    bottom: 0;
    @media #{$tablet} {
      left: 0;
      opacity: 0.8;
      padding: 0 0 0 10px;
      bottom: 0;
    }
    .cat-head {
      @include font-size(20px)
    }
  }
}