@font-face {
  font-family: "FuturaNextW05-Book";
  src: url("../../fonts/FuturaNextW05-Book.eot");
  src: url("../../fonts/FuturaNextW05-Book.eot?#iefix") format("eot"), url("../../fonts/FuturaNextW05-Book.woff2") format("woff2"), url("../../fonts/FuturaNextW05-Book.woff") format("woff"), url("../../fonts/FuturaNextW05-Book.ttf") format("truetype")
}